.sec-brand {
  border-top: #cebbc9 solid 5px;
  padding: 20px 0 20px 0;
}
.exec-brand {
  border-top: #F1B50F solid 5px;
  padding: 20px 0 20px 0;
}
.chair-brand {
  border-top: #004D66 solid 5px;
  padding: 20px 0 20px 0;
}
.digi-brand {
  border-top: #779CAB solid 5px;
  padding: 20px 0 20px 0;
}
.dept-brandless {
  padding-bottom: 20px;
}
.featured-big-title a {
  font-size: 22px;
  margin-bottom: 2px;
  font-family: "Interstate", Arial, sans-serif;
  margin-top: 4px;
  font-weight: bold;
  text-decoration-line: none;
  line-height: 1.25;
}
.featured-big-title a:hover {
  color: #0b0c0c;
  font-weight: bold;
  text-decoration-line: underline;
  margin-bottom: 2px;
}
.featured-big-text {
  font-size: 18px;
    font-family: "Interstate", Arial, sans-serif;
}
.featured-big-img {
  width: 600px;
}
.featured-big-context {
  font-family: "Interstate", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.25;
    margin-bottom: -2px;
    color: #505a5f;
}

.sec-home-links a {
  color: #946b89;
  font-weight: bold;
  text-decoration-line: none;
  font-size: 16px;
      line-height: 1.25;
    }
.sec-home-links a:hover {
  color: #0b0c0c;
  font-weight: bold;
  text-decoration-line: underline;
}
.sec-home-type {
  color: #946b89;
}
.sec-home-type a {
  color: #946b89;
}

.digi-home-links a {
  color: #4e717e;
  font-weight: bold;
  text-decoration-line: none;
  font-size: 16px;
      line-height: 1.25;
    }
.digi-home-links a:hover {
  color: #0b0c0c;
  font-weight: bold;
  text-decoration-line: underline;
}
.digi-home-type {
  color: #4e717e;
}
.digi-home-type a {
  color: #4e717e;
}

.chair-home-links a {
  color: #0099cc;
  font-weight: bold;
  text-decoration-line: none;
  font-size: 16px;
      line-height: 1.25;
    }
.chair-home-links a:hover {
  color: #0b0c0c;
  font-weight: bold;
  text-decoration-line: underline;
}
.chair-home-type {
  color: #0099cc;
}
.chair-home-type a {
  color: #0099cc;
}
@media (min-width: 40.0625em){
.exec-home-links__div {
  padding-left: 80px
}
}
.exec-home-links a {
  color: #c1900b;
  font-weight: bold;
  text-decoration-line: none;
  font-size: 16px;
      line-height: 1.25;
    }
.exec-home-links a:hover {
  color: #0b0c0c;
  font-weight: bold;
  text-decoration-line: underline;
}
.exec-home-type {
  color: #c1900b;
}
.exec-home-type a {
  color: #c1900b;
}
.organisation__margin-bottom {
    margin-bottom: 30px;
}
.organisation__section-wrap {
    word-wrap: break-word;
}
.organisation__brand-border-top {
    border-top-width: 5px;
    border-top-style: solid;
}
.organisation-logo__type {
  font-size: 14px;
  font-family: Tahoma, Geneva, sans-serif;
}
.organisation-logo__type a {
  font-size: 14px;
  color: #000000;
  font-family: Tahoma, Geneva, sans-serif;
  text-decoration: none;
}
.organisation-logo__type a:hover {
  font-size: 14px;
  font-family: Tahoma, Geneva, sans-serif;
}
@media (min-width: 40.0625em) {
.view-all {
  font-size: 16px;
}
}
.view-all {
  font-size:14px;
}
.office-top-mid {
  border-bottom: 1px solid #b1b4b6;
  font-family: Tahoma, Geneva, sans-serif;
  padding: 20px 0 20px 0;
  list-style: none;
}
.office-bot {
  font-family: Tahoma, Geneva, sans-serif;
  padding: 20px 0 20px 0;
  list-style: none;
}
.sect-title {
  font-size: 27px;
  line-height: 1.11111111;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Interstate", Arial, sans-serif;
}
.sect-number {
  font-size: 80px;
  line-height: 1;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Interstate", Arial, sans-serif;
}

.organisation-logo-search__type {
  font-size: 16px;
  font-family: Tahoma, Geneva, sans-serif;
}
.organisation-logo-search__type a {
  font-size: 16px;
  color: #000000;
  font-family: Tahoma, Geneva, sans-serif;
  text-decoration: none;
}
.organisation-logo-search__type a:visited {
  font-size: 16px;
  color: #000000;
  font-family: Tahoma, Geneva, sans-serif;
  text-decoration: none;
}
.organisation-logo-search__type a:hover {
  font-size: 16px;
  font-family: Tahoma, Geneva, sans-serif;
  color: #000000;
  text-decoration-line: underline;
}
